:root {
    --color-bkg-body: grey;
    --color-white: white;
    --color-effect-github: #695c5a;
    --color-effect-linkedin: #3656e6;
    --color-effect-twitter: #00aced;
    --color-li-underline: #9fb2da;
    --color-nav-scroll: rgba(0, 0, 0, 0.96);
    --font-raleway: 'Raleway', sans-serif;
    --font-default: 'Abel', Helvetica, Arial, Lucida, sans-serif;
    --height-nav: 11vh;
    --height-top-h2-sect: 0vh;
    --header-bkg-img: url(./images/portfolio_bkg.png);
    --sect1-bkg-img: url(./images/bkg_section_opt1.jpg);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    color: var(--color-white);
    font-family: 'Abel', Helvetica, Arial, Lucida, sans-serif;
    font-family: var(--font-raleway);
    width: 100%;
}

/* --------------- */

/*   H E A D E R   */

/* --------------- */

header {
    background-image: var(--header-bkg-img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: var(--height-nav);
    justify-content: center;
    min-height: var(--height-nav);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    width: 75%;
}

nav>ul>li {
    color: var(--color-white);
    font-family: var(--font-raleway);
    font-weight: 600;
    letter-spacing: 0.05em;
    list-style: none;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
}

nav>ul>li:first-of-type {
    border-color: var(--color-li-underline);
}

nav>ul>li:hover {
    border-color: var(--color-li-underline);
    transition: border 0.3s ease-in;
}

nav.scrolling {
    background-color: var(--color-nav-scroll);
}

nav>ul>li>a {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.header-intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: flex-end;
    line-height: 3rem;
    padding-top: 15vh;
    position: relative;
    top: var(--height-nav);
}

.header-intro>h1 {
    border-bottom: 5px solid white;
    border-radius: 10%;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 5rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    text-transform: capitalize;
}

.header-intro>p {
    font-size: 1.25rem;
    font-weight: 500;
}

.social-emoticons {
    align-items: center;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    width: 550px;
}

.wrapper {
    margin-top: 1%;
}

.wrapper>ul {
    display: flex;
    list-style: none;
}

.wrapper ul li {
    border: 3px solid #D8E2DC;
    border-radius: 50%;
    cursor: pointer;
    height: 55px;
    margin: 0 10px;
    text-align: center;
    transition: all 0.5s ease;
    width: 55px;
}

.wrapper ul li .fa {
    color: #D8E2DC;
    margin-top: 10px;
    transition: all 0.5s ease;
}

/*twitter*/

.wrapper ul li:hover.twitter {
    border: 5px solid var(--color-effect-twitter);
    box-shadow: 0 0 15px var(--color-effect-twitter);
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
    color: var(--color-effect-twitter);
    text-shadow: 0 0 15px var(--color-effect-twitter);
    transition: all 0.5s ease;
}

/* github */

.wrapper ul li:hover.github {
    border: 5px solid var(--color-effect-github);
    box-shadow: 0 0 15px var(--color-effect-github);
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
    color: var(--color-effect-github);
    text-shadow: 0 0 15px var(--color-effect-github);
    transition: all 0.5s ease;
}

/* linkedin */

.wrapper ul li:hover.linkedin {
    border: 5px solid var(--color-effect-linkedin);
    box-shadow: 0 0 15px var(--color-effect-linkedin);
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
    color: var(--color-effect-linkedin);
    text-shadow: 0 0 15px var(--color-effect-linkedin);
    transition: all 0.5s ease;
}

/* ---------------- */

/*  S E C T I O N   */

/* ---------------- */

main>section {
    min-height: 100vh;
    scroll-margin-top: 5vh;
}

main>section:nth-child(2n+1) {
    background-image: var(--sect1-bkg-img);
}

main>section>h1 {
    letter-spacing: 1rem;
    text-transform: uppercase;
}

/* -------- */

/* ABOUT ME */

/* -------- */

#aboutme {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-height: 95vh;
    padding: 0 3vw 0 5vw;
}

main>section>div>h1 {
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.about-me-description {
    max-height: 100vh;
    min-height: 70vh;
    width: 52%;
}

.about-me-description>h1 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6vh;
}

.about-me-description>p {
    color: #dddddd;
    font-size: 1.3em;
    line-height: 2;
}

.about-photo {
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
    padding: 15px 0;
    text-align: center;
    width: 47.66667%;
}

.about-photo>img {
    border-radius: 50%;
    max-height: 75vh;
    max-width: 75vw;
    box-shadow: -2px 1px 5px 2px rgba(0, 0, 0, 0.596);
}

/* @media (min-width: 1000px).aboutme {
    :window-inactive
} */

/* -------- */
/*  SKILLS  */
/* -------- */

#skills {
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    max-height: 95vh;
    background: whitesmoke;
}

.skills-all {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 95vh;
    max-height: 95vh;
}

.skills-all>h1 {
    align-self: center;
    border: 2px solid var(--color-li-underline);
    font-size: 2em;
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
}

.skills-details {
    display: flex;
    justify-content: space-evenly;
}

.skills-details>div>h4 {
    border-top: 2px solid var(--color-li-underline);
    border-bottom: 2px solid var(--color-li-underline);
    display: inline;
    letter-spacing: .4rem;
    padding: 5px 0;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.skills-details>div>h5 {
    text-transform: capitalize;
    font-weight: lighter;
}

.skill-separator {
    width: 20%;
}

.skill-item {
    font-variant: small-caps;
    padding-bottom: 10px;
}

.skill-item:first-of-type {
    padding-top: 30px;
}

.skill-item-bar {
    background: black;
    border-radius: 20px;
    height: 8px;
    width: 100%;
}

progress[value] {
    /* Get rid of the default appearance */
    appearance: none;
    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;
    /* Add dimensions */
    height: 8px;
    width: 100%;
    /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
    /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
    color: cornflowerblue;
    position: relative;
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border: 0.5px solid grey;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
}

progress[value]::-webkit-progress-value {
    animation: animate-stripes 5s linear infinite;
    background-color: cornflowerblue;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius: 3px;
    position: relative;
}

@keyframes animate-stripes {
    100% {
        background-position: -100px 0;
    }
}

h5[data-value] {
    position: relative;
}

h5[data-value]:after {
    content: attr(data-value) '%';
    font-size: .83em;
    text-transform: capitalize;
    font-weight: lighter;    
    position: absolute;
    right: 0;
}

/* ---------- */
/* EXPERIENCE */
/* ---------- */
#experience {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    min-height: 95vh;
    padding: 0 8vw;
}

#experience>h1 {
    border: 2px solid var(--color-li-underline);
    font-size: 2em;
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
}

/* --------- */
/* EDUCATION */
/* --------- */

/* ------- */
/* CONTACT */
/* ------- */

/* --------------- */
/*   F O O T E R   */
/* --------------- */

/* --------------- */
/*     T E S T     */
/* --------------- */