:root {
    --color-bkg-body: grey;
    --color-white: white;
    --color-effect-github: #695c5a;
    --color-effect-linkedin: #3656e6;
    --color-effect-twitter: #00aced;
    --color-li-underline: #9fb2da;
    --color-nav-scroll: rgba(0, 0, 0, 0.96);
    --font-raleway: 'Raleway', sans-serif;
    --font-default: 'Abel', Helvetica, Arial, Lucida, sans-serif;
    --height-nav: 11vh;
    --height-top-h2-sect: 0vh;
    --header-bkg-img: url(./images/portfolio_bkg.png);
    --sect1-bkg-img: url(./images/bkg_section_opt1.jpg);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    color: var(--color-white);
    font-family: 'Abel', Helvetica, Arial, Lucida, sans-serif;
    font-family: var(--font-raleway);
    width: 100%;
}

ol, ul {
    padding-left: 0px!important;
}
/* --------------- */

/*   H E A D E R   */

/* --------------- */

header {
    background-image: var(--header-bkg-img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
}

/* nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: var(--height-nav);
    justify-content: center;
    min-height: var(--height-nav);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
} */

/* nav>ul {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}
 */
/* nav>ul>li {
    color: var(--color-white);
    border-bottom: 3px solid transparent;
    font-family: var(--font-raleway);
    font-weight: 600;
    letter-spacing: 0.05em;
    list-style: none;
    margin: 0 10px;
    text-transform: uppercase;
} */

/* nav>ul>li:first-of-type {
    border-color: var(--color-li-underline);
} */

/* nav>ul>li:hover {
    border-color: var(--color-li-underline);
    transition: border 0.3s ease-in;
} */

/* nav>ul>li>a:active {
    border-color: var(--color-li-underline);
} */

/* nav>ul>li>a {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-decoration: none;
}
 */
/* nav.scrolling {
    background-color: var(--color-nav-scroll);
}
 */

.header-intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3rem;
    padding-top: 15vh;
    position: relative;
    top: var(--height-nav);
}

.header-intro>h1 {
    border-bottom: 5px solid white;
    border-radius: 10%;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 5rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    text-align: center;
    text-transform: capitalize;
}

.header-intro-roles {
    display: flex;
}

.header-intro-roles>p {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
    text-align: center;
}

.wrapper {
    margin-top: 3%;
}

.wrapper>ul {
    display: flex;
    list-style: none;
}

.wrapper ul li {
    border: 3px solid #D8E2DC;
    border-radius: 50%;
    cursor: pointer;
    height: 55px;
    margin: 0 10px;
    text-align: center;
    transition: all 0.5s ease;
    width: 55px;
}

.wrapper ul li .fa {
    color: #D8E2DC;
    margin-top: 10px;
    transition: all 0.5s ease;
}

/*twitter*/

.wrapper ul li:hover.twitter {
    border: 5px solid var(--color-effect-twitter);
    box-shadow: 0 0 15px var(--color-effect-twitter);
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
    color: var(--color-effect-twitter);
    text-shadow: 0 0 15px var(--color-effect-twitter);
    transition: all 0.5s ease;
}

/* github */

.wrapper ul li:hover.github {
    border: 5px solid var(--color-effect-github);
    box-shadow: 0 0 15px var(--color-effect-github);
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
    color: var(--color-effect-github);
    text-shadow: 0 0 15px var(--color-effect-github);
    transition: all 0.5s ease;
}

/* linkedin */

.wrapper ul li:hover.linkedin {
    border: 5px solid var(--color-effect-linkedin);
    box-shadow: 0 0 15px var(--color-effect-linkedin);
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
    color: var(--color-effect-linkedin);
    text-shadow: 0 0 15px var(--color-effect-linkedin);
    transition: all 0.5s ease;
}

/* ---------------- */
/*  S E C T I O N   */
/* ---------------- */

main>section {
    scroll-margin-top: 8.5vh;
}

/* FGL - VER */

main>section:nth-child(2n+1) {
    background-image: var(--sect1-bkg-img);
}

main>section>h1 {
    letter-spacing: 1rem;
    text-transform: uppercase;
}

main>section>div>h1 {
    letter-spacing: 1rem;
    text-transform: uppercase;
}

/* -------- */

/* ABOUT ME */

/* -------- */

#aboutme {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.about-me-description {
    padding: 20px;
    padding-bottom: 0;
    width: 50%;
}

.about-me-description>h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.75em;
    text-align: center;
    margin-bottom: 6vh;
}

.about-me-description>p {
    color: #dddddd;
    font-size: 1.1em;
    line-height: 2;
}

.about-photo {
    align-self: center;
    padding: 10px 0;
    text-align: center;
}

.about-photo>img {
    border-radius: 50%;
    width: 80%;
    box-shadow: -2px 1px 5px 2px rgba(0, 0, 0, 0.596);
}

/* -------- */

/*  SKILLS  */

/* -------- */

#skills {
    background: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
}

.skills-all {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 10px 45px 10px;
}

.skills-all>h1 {
    align-self: center;
    border: 2px solid var(--color-li-underline);
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 2%;
    padding: 10px 15px;
    text-align: center;
}

.skills-details {
    display: grid;
    grid-template-columns: 13em 13em 13em 13em;
    justify-content: space-evenly;
    padding: 2% 0;
}

.skill-separator {
    display: flex;
    flex-direction: column;
}

.skill-separator>h4 {
    align-self: flex-start;
    border-top: 2px solid var(--color-li-underline);
    border-bottom: 2px solid var(--color-li-underline);
    display: inline-block;
    letter-spacing: .4rem;
    padding: 7px 0;
    text-transform: uppercase;
}

.skill-separator>h5 {
    font-weight: lighter;
    text-transform: capitalize;
}

.skill-item {
    font-variant: small-caps;
    padding-bottom: 2px;
}

.skill-item>h5 {
    margin-bottom: 0;
    padding-left: 3px;
}

.skill-item:first-of-type {
    padding-top: 20px;
}

.skill-item-bar {
    background: black;
    border-radius: 20px;
    height: 8px;
    width: 100%;
}

progress[value] {
    /* Get rid of the default appearance */
    appearance: none;
    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;
    /* Add dimensions */
    height: 8px;
    width: 100%;
    /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(158, 72, 72, 0.5) inset;
    /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
    color: cornflowerblue;
    position: relative;
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border: 0.5px solid grey;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3) inset;
}

progress[value]::-webkit-progress-value {
    animation: animate-stripes 5s linear infinite;
    background-color: cornflowerblue;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius: 3px;
    position: relative;
}

@keyframes animate-stripes {
    100% {
        background-position: -100px 0;
    }
}

h5[data-value] {
    position: relative;
}

h5[data-value]:after {
    bottom: 9%;
    content: attr(data-value) '%';
    font-size: .65em;
    text-transform: capitalize;
    font-weight: lighter;
    position: absolute;
    right: 0;
}

/* ---------- */

/* EXPERIENCE */

/* ---------- */

#experience {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4vh 5vw;
}

.exp-title {
    display: flex;
    justify-content: center;
}

.exp-title>h1 {
    align-self: center;
    border: 2px solid var(--color-li-underline);
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 6vh;
    padding: 8px 15px;
}

#experience>button {
    align-items: center;
    align-self: center;
    display: flex;
    border-radius: 4%;
    justify-content: space-around;
    width: 120px;
    height: 45px;
}

#experience>button>a {
    color: black;
    font-size: 70%;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
}

.exp-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    padding-top: 1.5%;
    width: 85%;
}

.exp-details-left {
    min-width: 25%;
    max-width: 25%;
    border-right: 3px solid var(--color-li-underline);
}

.exp-details {
    display: flex;
    flex-direction: row;
    margin: 12px 0;
    padding: 20px 30px;
}

.exp-details-left {
    padding-right: 5px;
}
.exp-details-left>h5 {
    font-size: .75em;
    font-weight: 100;
    margin: 5px 0 15px 0px;
    text-transform: uppercase;
}

.exp-details-left>h5::before {
    content: '......... ';
    color: transparent;
    width: 20px;
    height: 20px;
    background-image: url('./images/calendar.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.exp-details-left>h6 {
    font-size: 0.8em;
    font-style: italic;
}

.exp-details-left>h6::before {
    content: '....... ';
    color: transparent;
    width: 20px;
    height: 20px;
    background-image: url('./images/location.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.exp-details-right {
    padding-left: 35px;
}

.exp-details-right>h4 {
    border-bottom: 2px dotted var(--color-li-underline);
    display: inline;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.exp-details-right>h5 {
    color: black;
    font-weight: 500;
    margin: 11px 0 15px 0;
    text-transform: uppercase;
}

.exp-details-right>p {
    line-height: 1.5em;
    margin-bottom: 0.3em;
}

/* --------- */

/* EDUCATION */

/* --------- */

#education {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4vh 5vw;
}

.edu-title {
    display: flex;
    justify-content: center;
}

.edu-title>h1 {
    align-self: center;
    border: 2px solid var(--color-li-underline);
    font-size: 2em;
    font-weight: 600;
    padding: 8px 15px;
}

.edu-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    padding-top: 2.5%;
    width: 85%;
}

.edu-details-left {
    min-width: 25%;
    max-width: 25%;
    border-right: 3px solid var(--color-li-underline);
}

.edu-details {
    display: flex;
    flex-direction: row;
    margin: 12px 0;
    padding: 20px 30px;
}

.exp-details-left {
    padding-right: 5px;
}

.edu-details-left>h5 {
    font-size: .75em;
    font-weight: 100;
    margin: 5px 0 15px 0px;
    text-transform: uppercase;
}

.edu-details-left>h5::before {
    content: '......... ';
    color: transparent;
    width: 20px;
    height: 20px;
    background-image: url('./images/calendar.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.edu-details-left>h6 {
    font-size: 0.8em;
    font-style: italic;
}

.edu-details-left>h6::before {
    content: '....... ';
    color: transparent;
    width: 20px;
    height: 20px;
    background-image: url('./images/location.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.edu-details-right {
    padding-left: 35px;
}

.edu-details-right>h4 {
    border-bottom: 2px dotted var(--color-li-underline);
    display: inline;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.edu-details-right>h5 {
    color: grey;
    font-weight: 500;
    margin: 11px 0 15px 0;
    text-transform: uppercase;
}

.edu-details-right>p {
    line-height: 1.5em;
    margin-bottom: 0.3em;
}

/* ------- */

/* CONTACT */

/* ------- */

#contact {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: none;
    padding: 4vh 5vw;
}

.contact-title {
    display: flex;
    justify-content: center;
}

.contact-title>h1 {
    align-self: center;
    border: 2px solid var(--color-li-underline);
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 6vh;
    padding: 10px 15px;
}

form {
    display: flex;
    flex-direction: column;
}

.container {
    margin: auto;
    max-width: 1200px;
    padding: 0 15px;
    position: relative;
}

.container:after {
    content: '';
    display: block;
    clear: both;
}

#contact>p {
    color: #FFFFFF;
    padding-top: 10px;
    text-align: center;
}

/* ------- */

/*  MEDIA  */

/* ------- */

@media (min-width: 600px) {
    .contact-form {
        max-width: 1160px;
        margin: 60px auto 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media (min-width: 600px) {
    .contact-form-control {
        width: 31.46552%;
    }
}

.contact-form-control {
    position: relative;
    margin-bottom: 20px;
}

.contact-form-control label {
    font-size: 1em;
    color: #ffffffad;
    position: absolute;
    left: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -o-transition: 300ms 100ms;
    transition: 300ms 100ms;
    -webkit-transition: 300ms 100ms;
}

label {
    cursor: default;
}

.contact-form-control textarea {
    height: 150px;
    min-height: 150px;
    padding: 15px;
    resize: vertical;
    overflow: hidden;
}

.contact-form-control input, 
.contact-form-control textarea {
    width: 100%;
    height: 55px;
    border: solid 1.5px var(--color-li-underline);
    border-radius: 10px;
    background-color: transparent;
    color: white;
    padding: 0 15px;
    position: relative;
    -webkit-transition: 300ms 0ms;
}

textarea.form-control {
    padding-top: 10px;
    height: 9em;
}

button, input {
    overflow: visible;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    /*  color: -internal-light-dark(black, white); */
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    /*  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59)); */
    -webkit-rtl-ordering: logical;
    cursor: text;
    /* margin: 0em; */
    /*  font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial; */
}

.contact-form button {
    width: 240px;
    height: 50px;
    background-color: cornflowerblue;
    color: #ffffff;
    border: none;
    font-size: 1.3em;
    border-radius: 30px;
    margin-left: auto;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -o-transition: 300ms 0ms;
    transition: 300ms 0ms;
    -webkit-transition: 300ms 0ms;
}

[type=reset], [type=submit], 
button, html [type=button] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

button {
    /* appearance: auto; */
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    /*  color: -internal-light-dark(black, white); */
    letter-spacing: normal;
    word-spacing: normal;
    /* text-transform: none; */
    text-indent: 0px;
    text-shadow: none;
    /* display: inline-block; */
    text-align: center;
    /* align-items: flex-start; */
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    /* margin: 0em;
    font: 400 13.3333px Arial; */
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

/* --------------- */
/*   F O O T E R   */
/* --------------- */

footer {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: row;
    font-weight: 100;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    justify-content: center;
    min-height: 8em;
    padding: 20px 0 30px 0;
}

#footer>h5 {
    font-size: 0.9em;
    letter-spacing: 0.15em;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.footer-contact>ul {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
    padding-left: 0;
    width: 100%;
}

.footer-contact>ul>li {
    list-style: none;
}

.footer-contact>ul>li>a {
    color: var(--color-li-underline);
}

.footer-contact>ul>li>a:hover {
    color: cornflowerblue;
}


/* ------------ */
/*  SCROLL TOP  */
/* ------------ */
#myBtn {
    background-image: url(./images/arrow_circle.svg);
    background-position:center;
    background-repeat:no-repeat;
    border: none;
    border-radius: 50%;
    bottom: 27px;
    cursor: pointer;
    display: none;
    outline: none;
    padding: 15px;
    position: fixed;
    right: 30px;
    z-index: 99;
  }
  
  #myBtn:hover {
    transform: scale(1.2);
  }

/* --------------- */
/*    M E D I A    */
/* --------------- */
@media (max-width: 992px) {
    /* SKILLS */
    .skills-details {
        grid-template-columns: 45% 45%;
        padding: 6% 0;
    }
    .skill-separator {
        padding-bottom: 5%;
        margin-bottom: 10%;
    }
}

@media (max-width: 855px) {
    /* EXPERIENCE */
    .exp-details, .edu-details {
        flex-direction: column-reverse;
        margin: 0;
        margin-top: 20px;
        padding: 20px 10px 30px 10px;
        border-bottom: 1px solid var(--color-li-underline);
    }   
    .exp-details:last-of-type, .edu-details:last-of-type {
        border-bottom: 0;
    }      
    .exp-details-left, .edu-details-left {
        margin-top: 20px;
        border: 0;
        max-width: 100%;
    }
    .exp-details-right, .edu-details-right {
        padding-left: 0;
    }    
}

@media (max-width: 768px) {
    /* ABOUT ME */
    #aboutme {
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-me-description {
        padding: 0;
        padding-top: 10px;
        width: 85%;
    }
    .about-me-description>h1 {
        margin-bottom: 3vh;
    }
    .about-me-description>p {
        font-size: 1em;
        line-height: 1.65;
    }
}

@media (max-width: 700px) {
    /* SKILLS */
    .skills-details {
        grid-template-columns: 80%;
        padding: 8% 0;
    }
    .skill-separator {
        padding-bottom: 5%;
        margin-bottom: 5%;
    }
}

@media (max-width: 620px) {
    /* HOME */
    nav>ul>li>a {
        font-size: 0.75em;
        font-weight: normal;
        line-height: 1em;
    }  
}

@media (min-width: 600px) {
    .contact-form-control.textarea {
        width: 100%;
    }
}

@media (max-width: 530px) {
    /* HOME */
/*     nav {
        display: none;
    } */
    .header-intro>h1 {
        font-size: 2.25em;
    }
    .header-intro-roles {
        flex-direction: column;
    }
    .header-intro-roles>p {
        font-size: 1.25em;
        line-height: 2em;
    }
    .wrapper>ul>li>a>.fa-github, .fa-linkedin {
        font-size: 1em;
    }
    .wrapper ul li {
        border: 2px solid #D8E2DC;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        line-height: 35px;
    }
    .wrapper ul li .fa {
        margin-top: -50px;
    } 
    .exp-form, .edu-form {
        width: 95%;
    }
    .exp-details-right>h4, .edu-details-right>h4 {
        font-size: 1em;
        letter-spacing: 0.035em;
    }
    .exp-details-right>h5, .edu-details-right>h5 {
        font-size: 0.7em;
        letter-spacing: 0.035em;
    }    
    .exp-details-right>p, .edu-details-right>p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    /* Titles */
    .exp-title>h1, .edu-title>h1, .contact-title>h1 {
        letter-spacing: 0.35em;
    }    
    /* CONTACT */
    #contact>p {
        line-height: 1.5em;
        padding-top: 20px;
    }
}

@media (max-width: 374px) {
    /* HOME */
    .exp-title>h1, .edu-title>h1, .contact-title>h1 {
        font-size: 1.5em;
        letter-spacing: 0.1em;
    }    
}

@media (max-width: 400px) {
    /* HOME */
    .header-intro>h1 {
        letter-spacing: 0.05em;
    }
}

@media (max-width: 360px) {
    /* HOME */
    .header-intro>h1 {
        border-bottom: 0;
        line-height: 1.5em;
        padding: 0 5px;
    }
}